h1{font-size:25px;
    color: #007EA7;
       text-align : center;         
    }
      
       
      
    body{
      background-color :#D3CDD7;
      font-family : Verdana ;
    }
    nav {background-color : #2D4654;    padding : 10px;
    margin : 0px;
    color : #AEA4BF;
    text-align : right;
    font-size :50px ;
    border-bottom  : 5px solid #7678ED;
    space-between:5px; 
           hight:5px;
    }
    .content{
      padding:10px;
      margin:0px;
    }
      .flieder-button {
    background-color: #c8a2c8; /* Fliederfarbe */
    color: #add8e6; /* Hellblau */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: color 0.3s; /* Farbübergangseffekt */
       margin-right: 10px
}

.flieder-button1:hover {
    color: white; /* Weiß bei Hover */
}
    .flieder-button   {
    background-color: #c8a2c8; /* Fliederfarbe */
    color: #add8e6; /* Hellblau */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: color 0.3s; /* Farbübergangseffekt */
      
}

.flieder-button:hover {
    color: white; /* Weiß bei Hover */
}
.flieder-button2 {
    background-color: #c8a2c8; /* Fliederfarbe */
    color: #add8e6; /* Hellblau */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: color 0.3s; /* Farbübergangseffekt */
}

.flieder-button1:hover {
    color: white; /* Weiß bei Hover */
}